@import "2020base";

.header-content {
  text-align: center;
  margin-top: $spacing-unit-lg;

  h4 {
    max-width: 550px;
    margin: 30px auto;
  }
}

.cta-btn.orange-light {
  margin-left: 0;
}

.header-image {
  text-align: center;
  margin: 100px auto;
  position: relative;

  img {
    max-height: 650px;
  }
}

.header-image:before {
  content: "";
  display: block;
  position: absolute;
  top: -76px;
  background: url("/images/ci/ci-line-1.svg") no-repeat 0 0;
  width: 8px;
  right: calc(50% - 4px);
  height: 100%;
}

.header-image:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -986px;
  background: url("/images/ci/ci-line-2.svg") no-repeat 0 0;
  width: 8px;
  right: calc(50% - 3px);
  height: 1000px;

  @media all and (max-width: $screen-lg-min) {
    display: none;
  }
}

.solutions-blocks {
  display: flex;
  flex-wrap: wrap;

  .solutions-block {
    width: calc(50% - 160px);
    margin: $spacing-unit-md;

    .subtitle {
      @include slp-font-size-xl;
    }

    .description {
      margin-bottom: 30px;
    }

    &.image {
      margin-top: $spacing-unit-md;
    }
  }

  .image-1, .solution-2 {
    padding-left: 30px;
  }

  @media all and (max-width: $screen-lg-min) {
    .solutions-block {
      width: 100%;
      margin: unset;

      &.image {
        margin-top: 0;
        margin: $spacing-unit-xs;
      }

      &.image-2 {
        order: 4;
      }
    }
  }
}

.feature-cards:before {
  content: "";
  display: block;
  position: absolute;
  background: url("/images/ci/ci-line-3.svg") no-repeat 0 0;
  width: 8px;
  right: calc(50% - 3px);
  height: 100%;
  top: -47px;
}

.feature-cards:after {
  content: "";
  display: block;
  position: absolute;
  background: #c4c4c4;
  width: 2px;
  right: calc(50% + 1px);
  height: 600px;
  top: $spacing-unit-xxs;
  z-index: 1;
}

.feature-cards {
  margin: 30px auto;
  position: relative;

  .feature-card {
    position: relative;
    max-width: 550px;
    margin: 35px auto;
    background: #F8F8F8;
    border-radius: $border-radius-large;
    padding: 3rem;
    z-index: 2;

    .icon {
      position: absolute;
      top: -13px;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
}

.info-block:before {
  content: "";
  display: block;
  position: absolute;
  background: url("/images/ci/ci-line-4.svg") no-repeat 0 0;
  width: 9px;
  right: calc(50% - 3px);
  height: 100%;
  top: -65px;
}

.info-block {
  max-width: 650px;
  text-align: center;
  margin: 100px auto 0 auto;
  position: relative;

  .description {
    margin: $spacing-unit-xs 0;
  }
}

.background-color {
  position: relative;

  .grey-background {
    position: absolute;
    background: $color-gray-super-light;
    height: 440px;
    width: calc(50% + 250px);
    top: 280px;
    left: -300px;
    border-radius: $border-radius-large;

    @media all and (max-width: $screen-lg-min) {
      width: 100%;
      left: 0;
    }
  }
}

.resources {
  h2 {
    margin-bottom: $spacing-unit-sm;
    margin-top: $spacing-unit-xl;
  }

  h4 {
    margin-top: 0;
  }

  .learn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .single-video-slider {
      max-width: 450px;

      @media all and (max-width: $screen-lg-min) {
        margin: 0 auto;
      }

      h4:before {
        content: "GITLAB TV";
        display: block;
        font-size: 12px;
        margin-bottom: $spacing-unit-xxs;
      }

      &:after {
        content: "";
        position: absolute;
        background: url("/images/ci/webcasts-icon.svg") no-repeat 0 0;
        width: $spacing-unit-sm;
        left: 30px;
        height: $spacing-unit-sm;
        top: 221px;
      }

      .slick-slide img {
        height: 243px;
      }

      .slick-arrow {
        top: 45%;
        transform: translateY(-50%);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }

    .resource-block {
      width: 50%;

      @media all and (max-width: $screen-lg-min) {
        width: 100%;
      }

      &.resource-links {
        @media all and (max-width: $screen-lg-min) {
          margin-top: $spacing-unit-xl;
        }
      }

      .youtube-link {
        position: absolute;
        width: 430px;
        text-align: center;
        margin-top: $spacing-unit-xs;

        @media all and (max-width: $screen-lg-min) {
          width: 100%;
        }
      }

      .icon img {
        max-width: 40px;
      }

      .link {
        margin: 15px 0;
      }

      .link .arrow-head {
        display: none;
        color: #4b3589;
      }

      .link:hover .arrow-head {
        display: inline;
      }

      .resource {
        border-bottom: 1px solid #E5E5E5;
        padding: $spacing-unit-xs 0;
        display: flex;

        &.hidden {
          display: none;
        }

        .text {
          margin-left: 30px;
        }
      }

      .resource:first-of-type {
        border-top: 1px solid #E5E5E5;

        @media all and (max-width: $screen-lg-min) {
          border-top: 0;
        }
      }

      .resource-meta {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        padding: 0;

        @media all and (max-width: $screen-lg-min) {
          grid-template-columns: repeat(1, 1fr);
        }

        li {
          margin: 0 10px;
        }
      }
    }
  }

  #courses-filters {
    margin-bottom: 20px;
    text-align: center;
  }

  .courses {
    @extend .learn;

    .resource-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      @media all and (max-width: $screen-lg-min) {
        grid-template-columns: repeat(1, 1fr);
      }

      .resource:first-of-type {
        border-top: 0;
      }

      .link {
        margin-top: 0;
      }
    }
  }
}

.events {
  h2 {
    text-align: center;
    margin: 100px auto $spacing-unit-sm auto;
  }

  .watch-all-link {
    margin: $spacing-unit-sm auto $spacing-unit-lg auto;
    text-align: center;
  }

  .events-card-full {
    position: relative;
    box-shadow: $box-shadow;
    border-radius: $border-radius-large;
    max-width: 730px;
    margin: 0 auto;
    padding: $spacing-unit-sm;

    .icon {
      position: absolute;
      top: -20px;
    }

    .flex-sections {
      display: flex;
      justify-content: space-around;

      .location {
        font-size: 12px;
      }

      .image {
        max-width: 250px;
        margin-top: $spacing-unit-sm;
      }

      .date {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .description {
        margin-top: $spacing-unit-xxs;
        padding-right: $spacing-unit-xs;
      }

      .lavender {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
}

#ask-us-anything {
  .cmp-cta-contact h3:before {
    background: url("/images/enterprise/gitlab-enterprise-team-member-photos.png") no-repeat 0 0;
    background-size: 212px;
    content: "";
    display: block;
    font-size: 0;
    height: 91px;
    line-height: 0;
    margin: 0 auto $spacing-unit-xs;
    width: 213px;
  }

  .cmp-cta-contact h3:after {
    background: url("/images/ci/particles-ci.svg") no-repeat 0 0;
    content: "";
    display: inline-block;
    height: 47px;
    left: calc(50% - 43px);
    position: absolute;
    top: -47px;
    width: 86px;
  }
}


